@import '~antd/dist/antd.css';

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-breadcrumb {
  text-align: center; 
  padding: 32px;
}



.ant-layout-header {
  background: #f0f2f5;
}

.ant-layout .give-layout {
  background: white;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
  [data-theme="dark"] .site-layout-content {
    background: #571717;
  }


.menubar {
  justify-content: center;
}

html {
  background: #f0f2f5;
}

body {
  margin: auto;
  width: fit-content;
  min-width: 800px;
  height: fit-content;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding: 20px;
}
